<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->

    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #todo-list              { margin-bottom:30px; }
    </style>

<div class="body_header header container_16 row"> 
    <div class="header_logo grid_8">logo</div>
	<div class="header_topnav grid_8 search_area"> 
    	<div>toptoolbar</div> 
    </div>


    </div>
</div>
