@charset "UTF-8";

body {
    padding: 20px;
}

.cover {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-size: cover;
    position: relative;
    border: 2px solid #fff;
}

.cover:hover {
    cursor: pointer;
}

.cover.playing {
    border: 2px solid #e45343;
}